<section id="content">
    <div class="container" ng-controller="app.views.users.index as vm">
        <div class="block-header">
            <h2>Users</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="listview lv-bordered lv-lg">
                        <div class="card-header ch-alt m-b-20">
                            <h2>
                                Your Users
                                <small>Your created &amp; registered events</small>
                            </h2>
                            <div class="lvh-search" data-ng-if="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat">
                                <input type="text" placeholder="Start typing..." class="lvhs-input">

                                <i class="lvh-search-close" data-ng-click="mactrl.listviewSearchStat = false">&times;</i>
                            </div>

                            <ul class="lv-actions actions">
                                <li>
                                    <a href="" data-ng-click="mactrl.listviewSearchStat = true">
                                        <i class="zmdi zmdi-search"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="zmdi zmdi-time"></i>
                                    </a>
                                </li>
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle aria-expanded="true">
                                        <i class="zmdi zmdi-sort"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Last Modified</a>
                                        </li>
                                        <li>
                                            <a href="">Last Edited</a>
                                        </li>
                                        <li>
                                            <a href="">Name</a>
                                        </li>
                                        <li>
                                            <a href="">Date</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="zmdi zmdi-info"></i>
                                    </a>
                                </li>
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle aria-expanded="true">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Refresh</a>
                                        </li>
                                        <li>
                                            <a href="">Listview Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div class="card-body card-padding">
                            <div class="lv-item media" ng-repeat="user in vm.users">
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox" value="">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="pull-left">
                                    <img class="lv-img-sm" src="@Url.Content("~/Content/material/img/profile-pics/1.jpg")" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">{{user.name}} {{user.surname}}</div>
                                    <small class="lv-small">{{user.userName}} <span class="text-muted">{{user.emailAddress}}</span></small>
                                    <ul class="lv-attrs">
                                        <li>Date Created: 09/06/1988</li>
                                        <li>Members: 78954</li>
                                        <li>Published: No</li>
                                    </ul>
                                    <div class="lv-actions actions dropdown" uib-dropdown>
                                        <a href="" uib-dropdown-toggle aria-expanded="true">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Edit</a>
                                            </li>
                                            <li>
                                                <a href="">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>