<section id="content">
    <div class="container" ng-controller="app.views.events.index as vm">
        <div class="block-header">
            <h2>Events</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header ch-alt m-b-20">
                        <h2>
                            Your Events
                            <small>Your created &amp; registered events</small>
                        </h2>
                        <button class="btn bgm-red btn-float waves-effect" ng-click="vm.openNewEventDialog()"><i class="zmdi zmdi-plus"></i></button>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="vm.filters.includeCanceledEvents">
                                        <i class="input-helper"></i>
                                        Show canceled events
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="listview lv-bordered lv-lg">
                                    <div class="lv-body">
                                        <div class="lv-item media" ng-repeat="event in vm.events">

                                            <div class="media-body">
                                                <div class="lv-title">{{event.title}}</div>
                                                <div class="lv-message">{{event.description | characters:100}}</div>
                                                <ul class="lv-attrs">
                                                    <li ng-if="event.registrationsCount < event.maxRegistrationCount">
                                                        @L("XofYregistered", "{{event.registrationsCount}}", "{{event.maxRegistrationCount}}")
                                                    </li>
                                                    <li ng-if="event.maxRegistrationCount > 0 && event.registrationsCount >= event.maxRegistrationCount">
                                                        @L("XregisteredNoNewRegistrationAvailable", "{{event.registrationsCount}}")
                                                    </li>
                                                    <li ng-if="event.maxRegistrationCount <= 0">
                                                        @L("XregisteredUnlimitedRegistrations", "{{event.registrationsCount}}")
                                                    </li>
                                                    <li>
                                                        {{event.date | momentFormat:'DD.MM.YYYY'}}
                                                    </li>
                                                </ul>
                                                <div class="lv-actions actions dropdown" uib-dropdown>
                                                    <a href="" uib-dropdown-toggle aria-expanded="true">
                                                        <i class="zmdi zmdi-more-vert"></i>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a ng-href="#/events/{{event.id}}">@L("Details")</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
