<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="@Url.Content("~/Content/material/img/profile-pics/1.jpg")" alt="">
            </div>
            <div class="profile-info">
                Malinda Hollaway
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>
        <ul class="main-menu">
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="vmh.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>
    <ul class="main-menu">

        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="vm.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="events" data-ng-click="vm.sidebarStat($event)"><i class="zmdi zmdi-calendar"></i> Events</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="users" data-ng-click="vm.sidebarStat($event)"><i class="zmdi zmdi-account-circle"></i> Users</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="groups" data-ng-click="vm.sidebarStat($event)"><i class="zmdi zmdi-accounts"></i> Groups</a>
        </li>
    </ul>
</div>
